{% extends "base.html" %}
{% load i18n %}
{% load custom_tags %}

{% block title %}
    {% trans 'Nursing Professional Detail' %}
{% endblock title %}

{% block content_title %}
    {% trans 'Nursing Professional Detail' %}
{% endblock content_title %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="row mb-3">
                <h5 class="card-title">
                    <span class="font-weight-bold">
                        {% trans 'Code' %}:
                    </span>
                    {{ nursing_professional.id }}
                </h5>
            </div>
            <div class="row mb-3">
                <h5 class="card-title">
                        <span class="font-weight-bold">
                            {{ nursing_professional|get_verbose_name:'name' }}:
                        </span>
                    {{ nursing_professional.name }}
                </h5>
            </div>
            <div class="row mb-3">
                <h5 class="card-title">
                        <span class="font-weight-bold">
                            {{ nursing_professional|get_verbose_name:'coren' }}:
                        </span>
                    {{ nursing_professional.coren }}
                </h5>
            </div>
            <div class="row mb-3">
                <h5>
                        <span class="font-weight-bold">
                            {{ nursing_professional|get_verbose_name:'created_by' }}:
                        </span>
                    {{ nursing_professional.created_by|default_if_none:"" }}
                </h5>
            </div>
            <div class="row mb-3">
                <h5>
                        <span class="font-weight-bold">
                            {{ nursing_professional|get_verbose_name:'created_at' }}:
                        </span>
                    {{ nursing_professional.created_at|date:"d/m/Y" }} {{ nursing_professional.created_at|time:"H:i:s" }}
                </h5>
            </div>
            <div class="row mb-3">
                <h5>
                    <span class="font-weight-bold">
                        {{ nursing_professional|get_verbose_name:'updated_by' }}:
                    </span>
                    {{ nursing_professional.updated_by|default_if_none:"" }}
                </h5>
            </div>
            <div class="row mb-3">
                <h5>
                    <span class="font-weight-bold">
                        {{ nursing_professional|get_verbose_name:'updated_at' }}:
                    </span>
                    {{ nursing_professional.updated_at|date:"d/m/Y" }} {{ nursing_professional.updated_at|time:"H:i:s" }}
                </h5>
            </div>
            <div class="row mb-3">
                <h5>
                    <span class="font-weight-bold">
                        {{ nursing_professional|get_verbose_name:'is_active' }}:
                    </span>
                    {% if nursing_professional.is_active %}
                        {% include 'utils/icons/icon_check_circle.html' %}
                    {% else %}
                        {% include 'utils/icons/icon_times_circle.html' %}
                    {% endif %}
                </h5>
            </div>
        </div>
    </div>
    <div class="my-4 text-center">
        <a href="{% url 'medicine:nursing-professional-list' %}">
            {% include 'utils/forms/form_back_btn.html' %}
        </a>
    </div>
{% endblock content %}
