{% extends "base.html" %}

{% load i18n %}
{% load custom_tags %}
{% load static %}

{% block title %}
    {% trans 'Medicine Register' %}
{% endblock title %}

{% block content_title %}
    {% trans 'Medicine Register' %}
{% endblock content_title %}

{% block content %}
    <div class="my-4">
        <a class="btn btn-small btn-primary" href="{% url 'medicine:create' %}">{% trans 'Insert' %}</a>
    </div>

    <table id="gridMedicine" class="table table-striped table-bordered" style="width: 100%">
        <thead>
        <tr>
            <th>{{ model|get_verbose_name:'name' }}</th>
            <th>{{ model|get_verbose_name:'description' }}</th>
            <th>{{ model|get_verbose_name:'batch' }}</th>
            <th>{{ model|get_verbose_name:'expiration_date' }}</th>
            <th>{{ model|get_verbose_name:'stock_qty' }}</th>
            {% include 'utils/tables/thead_actions.html' %}
        </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
{% endblock content %}

{% block custom_script %}
    <!-- Datatable initialization -->
    <script src="{% static 'js/grid-datatables.js' %}"></script>
{% endblock custom_script %}
